{% if paginationNextUrl or paginationPrevUrl %}
  <hr />
  <footer>
    <nav>
      {% if paginationPrevUrl %}
        <a href="{{ paginationPrevUrl }}" data-direction="backwards">
          <span role="text">Previous <</span>
        </a>
      {% endif %}
      {% if paginationNextUrl %}
        <a href="{{ paginationNextUrl }}" data-direction="forwards">
          <span role="text">Older posts ></span>
        </a>
      {% endif %}
    </nav>
  </footer>
{% endif %}
