{% extends 'layouts/base.njk' %}
{% set pageType = 'Post' %}

{% set introHeading = "Ed's microblog" %}

{% block content %}
  {% include "partials/components/intro.njk" %}

  <main id="main-content" tabindex="-1">

    <article class="h-entry post_date">
      <h1>
        {% if date %}
          <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
        {% endif %}
      </h1>
      <div class="post_content">
        {{ content | safe }}
        {% if image %}
          <img src="{{ image }}" {% if image_alt_text %} alt="{{ image_alt_text }}" {% endif%} class="post_image">
        {% endif %}
      </div>
    </article>
    <hr>
    <a href="/" class="back_to_all_posts">
      Back to all posts
    </a>
  </main>
{% endblock %}

{{ content | safe }}